# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/*.log
/wp-config.php
/wp-content/cache
/wp-content/mu-plugins
/wp-content/uploads
/source-old-site
/index.html
/.well-known
/error_log
/google*.html
/sucuri-*.php
/wordfence-waf.php
/wp-content/wflogs
/wp-content/*.log
/wp-content/wp-rocket-config
/wp-content/updraft
/wp-content/ai1wm-backups
/wp-content/advanced-cache.php
/readme.html
/license.txt
/wp-config-sample.php
/robots.txt
*error_log
/.htaccess
/*.tar.gz
/var
/apache
/app
/docker-compose.yml
/wordpress
/.well-known
/*.bk
/build.txt
/.idea

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
