@use "functions" as *;
@use "sass:math";

// Responsive
$mobile: rem(559.98);
$tablet: rem(767.98);
$tablet-landscape: rem(1023.98);
$laptop: rem(1239.98);
$pc: rem(1439.98);
$wide: rem(1919.98);

// Container
$container-width: rem(1207.98);

//Colors
$white: #fff;
$grey: #7e7d7a;